.contenedorCabecera {
    padding: 0px;
    position: relative;
    width: 100%;
    height: 100vh;
    color: white;

}

.contMenuRedes {
    display: grid;
    grid-template-areas:
        "menu redes";
    grid-template-columns: 70% 30%;
    width: 100%;
}

.contMenuLogo {
    grid-area: menu;
    display: flex;
    flex-direction: column;

}

.contMenu {
    animation: slideFadeIn 0.8s ease forwards;
    background-color: rgb(66, 66, 66,0.7);
}

.contLogo {
    padding-left: 30px;
    padding-top: 20px;
}

.contRedes {
    grid-area: redes;
    display: flex;
    justify-content: flex-end;
}

.redes {
    width: 40px;
    height: 40px;
    background-color: rgb(94, 94, 94);
}


.menu>ul {
    display: flex;
    list-style: none;

}

.menu li {

    transition: all 300ms;
    text-align: center;

}

.menu a {
    display: block;
    padding: 10px 30px;
    font-size: 18px;
    text-decoration: none;
    transition: all 300ms;
}

.submenu{

  display: none;
  position: absolute;
  top: 100%;
  left: 110px;
    background-color: rgb(66, 66, 66,0.7);
  padding: 0.5rem 0;
  z-index: 10;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: all 300ms;
}
.dropdown:hover .submenu {
  display: block;
      animation: slideFadeIn 0.8s ease forwards;
}

.active {
    background-color: #52502a;
}

.menu li:hover {
    background-color: rgb(66, 66, 66);
    cursor: pointer;
}

.menuMv {
    margin: 15px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 18px;
    cursor: pointer;
}

.menuMv div {
    background-color: rgb(255, 146, 50);
    height: 3px;
    border-radius: 2px;
}

@media (max-width: 980px) {
    
.menu a {
    display: block;
    padding: 10px 15px;
    font-size: 14px;
    text-decoration: none;
    transition: all 300ms;

}
.submenu{
  left: 68px;
}

}

@media (max-width: 768px) {

    .contMenuRedes{
grid-template-areas:
        "menu" 
        "redes";
    grid-template-columns: 100%;
    }
    .contRedes{
        position: absolute;
        top:0;
        right: 0;
    }

    .menuMv {
        display: flex;
        z-index: 1001;
    }

    .menu>ul {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        padding-top: 50px;
        top: 40px;
        width: 100%;
        height: 100% -77px;
        left: 0;
        right: 0;
        background-color: rgba(131, 131, 131, 0.85);
        padding: 2rem;
        gap: 1.5rem;
        z-index: 1000;
    }

    .menu li{
        width: 100%;
    }

    .menu.open>ul {
        display: flex;
        animation: slideFadeIn 0.4s ease forwards;
    }
    .submenu{
        left: 0px;
        position: relative;
    }
}

@keyframes slideFadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}